n8n/workflow_1_collect_odds.json
{
  "name": "MLB Underdog Odds Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 7
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 12:07 PM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://api.the-odds-api.com/v4/sports/baseball_mlb/odds",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "regions", "value": "us" },
            { "name": "markets", "value": "h2h" },
            { "name": "oddsFormat", "value": "american" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "fetch-odds",
      "name": "Fetch MLB Odds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "notes": "SETUP: Create a 'Query Auth' credential in n8n. Name: 'Odds API'. Set Name=apiKey, Value=<your-key>. Then select it under Credential to connect with."
    },
    {
      "parameters": {
        "jsCode": "const TOSSUP_MIN = -130;\nconst TOSSUP_MAX = 130;\nconst EXTREME_FAVORITE_CUTOFF = -300;\nconst UNDERDOG_MIN = 131;\nconst UNDERDOG_MAX = 260;\n\nconst BUCKETS = {\n  watch_low:  [131, 135],\n  slight:     [136, 150],\n  prime:      [151, 160],\n  moderate:   [161, 190],\n  heavy:      [191, 220],\n  very_heavy: [241, 249],\n  watch_high: [250, 260],\n};\nconst TRACK_ONLY_BUCKETS = ['watch_low'];\n\nfunction getBucket(odds) {\n  for (const label in BUCKETS) {\n    const low  = BUCKETS[label][0];\n    const high = BUCKETS[label][1];\n    if (odds >= low && odds <= high) return label;\n  }\n  return 'out_of_range';\n}\n\nconst events = $input.first().json.body;\nconst today = new Date().toISOString().split('T')[0];\n\nconst stats = {\n  total: events.length,\n  no_odds: 0, no_sides: 0, tossup: 0, extreme: 0,\n  out_of_range: 0, qualified: 0, watch_only: 0\n};\n\nconst qualifying = [];\n\nfor (const event of events) {\n  const home = event.home_team;\n  const away = event.away_team;\n  const teamOdds = {};\n  teamOdds[home] = { prices: [], books: {} };\n  teamOdds[away] = { prices: [], books: {} };\n\n  for (const bookmaker of (event.bookmakers || [])) {\n    for (const market of (bookmaker.markets || [])) {\n      if (market.key !== 'h2h') continue;\n      for (const outcome of market.outcomes) {\n        if (teamOdds[outcome.name]) {\n          teamOdds[outcome.name].prices.push(outcome.price);\n          teamOdds[outcome.name].books[bookmaker.key] = outcome.price;\n        }\n      }\n    }\n  }\n\n  if (!teamOdds[home].prices.length || !teamOdds[away].prices.length) {\n    stats.no_odds++;\n    continue;\n  }\n\n  const homeBest = Math.max.apply(null, teamOdds[home].prices);\n  const awayBest = Math.max.apply(null, teamOdds[away].prices);\n\n  let favorite, underdog;\n  if (homeBest < awayBest) {\n    favorite = home; underdog = away;\n  } else if (awayBest < homeBest) {\n    favorite = away; underdog = home;\n  } else {\n    stats.no_sides++;\n    continue;\n  }\n\n  const favBest = Math.max.apply(null, teamOdds[favorite].prices);\n  const dogBest = Math.max.apply(null, teamOdds[underdog].prices);\n\n  if (favBest >= TOSSUP_MIN && favBest <= TOSSUP_MAX &&\n      dogBest >= TOSSUP_MIN && dogBest <= TOSSUP_MAX) {\n    stats.tossup++;\n    continue;\n  }\n\n  if (favBest <= EXTREME_FAVORITE_CUTOFF) {\n    stats.extreme++;\n    continue;\n  }\n\n  if (dogBest < UNDERDOG_MIN || dogBest > UNDERDOG_MAX) {\n    stats.out_of_range++;\n    continue;\n  }\n\n  const dogPrices = teamOdds[underdog].prices;\n  const favPrices = teamOdds[favorite].prices;\n  const dogAvg = Math.round(dogPrices.reduce(function(a, b) { return a + b; }, 0) / dogPrices.length * 10) / 10;\n  const favAvg = Math.round(favPrices.reduce(function(a, b) { return a + b; }, 0) / favPrices.length * 10) / 10;\n\n  const dogBooks = teamOdds[underdog].books;\n  const bookEntries = Object.keys(dogBooks);\n  let bestBook = '';\n  let bestPrice = -Infinity;\n  for (let i = 0; i < bookEntries.length; i++) {\n    if (dogBooks[bookEntries[i]] > bestPrice) {\n      bestPrice = dogBooks[bookEntries[i]];\n      bestBook = bookEntries[i];\n    }\n  }\n\n  const bucket = getBucket(dogBest);\n  const isTrackOnly = TRACK_ONLY_BUCKETS.indexOf(bucket) !== -1;\n\n  if (isTrackOnly) stats.watch_only++;\n  else stats.qualified++;\n\n  qualifying.push({\n    json: {\n      date: today,\n      game_id: event.id,\n      commence_time: event.commence_time || '',\n      home_team: home,\n      away_team: away,\n      favorite: favorite,\n      underdog: underdog,\n      dog_odds_best: dogBest,\n      dog_odds_avg: dogAvg,\n      dog_best_book: bestBook,\n      fav_odds_best: favBest,\n      fav_odds_avg: favAvg,\n      home_is_dog: underdog === home,\n      bucket: bucket,\n      num_books: (event.bookmakers || []).length,\n      winner: '',\n      dog_won: '',\n      profit: '',\n      _is_track_only: isTrackOnly,\n    }\n  });\n}\n\nif (qualifying.length === 0) {\n  return [{ json: { _no_games: true, _stats: stats } }];\n}\n\nqualifying[0].json._stats = stats;\nqualifying[0].json._wager_count = qualifying.filter(function(q) { return !q.json._is_track_only; }).length;\nqualifying[0].json._watch_count  = qualifying.filter(function(q) { return  q.json._is_track_only; }).length;\n\nreturn qualifying;"
      },
      "id": "filter-odds",
      "name": "Filter Underdogs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "no-games-check",
              "leftValue": "={{ $json.dog_odds_best }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-games",
      "name": "Has Qualifying Games?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "// Pitcher Flag Enrichment\n// Fetches today's MLB probable pitchers and current season WHIP stats.\n// Adds top_pitcher_flag, fav_starter_name, fav_starter_whip to each game.\n// Games where the favorite's starter has WHIP <= threshold get flagged.\n\nconst WHIP_THRESHOLD = 1.10;\nconst MIN_IP = 25;\nconst TODAY = new Date().toISOString().split('T')[0];\nconst SEASON = new Date().getFullYear();\n\nfunction normTeam(name) {\n  if (!name) return '';\n  const map = {\n    'Athletics': 'athletics', 'Oakland Athletics': 'athletics',\n    'Arizona Diamondbacks': 'd-backs', 'D-backs': 'd-backs',\n    'Chicago White Sox': 'white sox', 'Chicago Cubs': 'cubs',\n    'New York Yankees': 'yankees', 'New York Mets': 'mets',\n    'Los Angeles Dodgers': 'dodgers', 'Los Angeles Angels': 'angels',\n    'San Francisco Giants': 'giants', 'Tampa Bay Rays': 'rays',\n    'Boston Red Sox': 'red sox', 'Toronto Blue Jays': 'blue jays',\n    'Kansas City Royals': 'royals', 'Minnesota Twins': 'twins',\n    'Cleveland Guardians': 'guardians', 'Detroit Tigers': 'tigers',\n    'Milwaukee Brewers': 'brewers', 'St. Louis Cardinals': 'cardinals',\n    'Cincinnati Reds': 'reds', 'Pittsburgh Pirates': 'pirates',\n    'Philadelphia Phillies': 'phillies', 'Atlanta Braves': 'braves',\n    'Miami Marlins': 'marlins', 'Washington Nationals': 'nationals',\n    'Colorado Rockies': 'rockies', 'San Diego Padres': 'padres',\n    'Seattle Mariners': 'mariners', 'Houston Astros': 'astros',\n    'Texas Rangers': 'rangers', 'Baltimore Orioles': 'orioles',\n  };\n  if (map[name]) return map[name];\n  return name.trim().split(' ').pop().toLowerCase();\n}\n\n// Fetch MLB schedule with probable pitchers\nlet schedule = [];\ntry {\n  const schedRes = await fetch(\n    'https://statsapi.mlb.com/api/v1/schedule?sportId=1&date=' + TODAY + '&hydrate=probablePitcher'\n  );\n  const schedData = await schedRes.json();\n  for (const dateEntry of (schedData.dates || [])) {\n    for (const g of (dateEntry.games || [])) {\n      schedule.push({\n        gamePk: g.gamePk,\n        homeName: g.teams.home.team.name,\n        awayName: g.teams.away.team.name,\n        homeProbId:   ((g.teams.home.probablePitcher) || {}).id   || null,\n        awayProbId:   ((g.teams.away.probablePitcher) || {}).id   || null,\n        homeProbName: ((g.teams.home.probablePitcher) || {}).fullName || null,\n        awayProbName: ((g.teams.away.probablePitcher) || {}).fullName || null,\n      });\n    }\n  }\n} catch (e) {\n  // schedule lookup failed — all games get flag = null\n}\n\n// Fetch pitcher season stats\nconst pitcherStats = {};\ntry {\n  const statsRes = await fetch(\n    'https://statsapi.mlb.com/api/v1/stats?stats=season&group=pitching&season=' + SEASON + '&sportId=1&limit=1000'\n  );\n  const statsData = await statsRes.json();\n  const splits = (((statsData.stats || [])[0]) || {}).splits || [];\n  for (const s of splits) {\n    const pid  = (s.player || {}).id;\n    if (!pid) continue;\n    const ip   = parseFloat(s.stat.inningsPitched || 0);\n    const whip = parseFloat(s.stat.whip || 99);\n    if (ip >= MIN_IP) {\n      pitcherStats[pid] = {\n        name: (s.player || {}).fullName || '',\n        whip: whip,\n        ip: ip,\n      };\n    }\n  }\n} catch (e) {\n  // pitcher stats lookup failed\n}\n\n// Match each game and add flag\nconst items = $input.all();\nconst output = [];\n\nfor (let idx = 0; idx < items.length; idx++) {\n  const g = items[idx].json;\n\n  const homeNorm = normTeam(g.home_team);\n  const awayNorm = normTeam(g.away_team);\n  let matched = null;\n\n  for (let si = 0; si < schedule.length; si++) {\n    const sg = schedule[si];\n    const sgHome = normTeam(sg.homeName);\n    const sgAway = normTeam(sg.awayName);\n    if (sgHome === homeNorm && sgAway === awayNorm) {\n      matched = sg;\n      break;\n    }\n    if ((sgHome.indexOf(homeNorm) !== -1 || homeNorm.indexOf(sgHome) !== -1) &&\n        (sgAway.indexOf(awayNorm) !== -1 || awayNorm.indexOf(sgAway) !== -1)) {\n      matched = sg;\n      break;\n    }\n  }\n\n  let favStarterName = null;\n  let favStarterWhip = null;\n  let topPitcherFlag = null;\n\n  if (matched) {\n    const favNorm     = normTeam(g.favorite);\n    const mlbHomeNorm = normTeam(matched.homeName);\n    const favIsHome   = favNorm === mlbHomeNorm ||\n                        mlbHomeNorm.indexOf(favNorm) !== -1 ||\n                        favNorm.indexOf(mlbHomeNorm) !== -1;\n\n    const favProbId   = favIsHome ? matched.homeProbId   : matched.awayProbId;\n    favStarterName    = favIsHome ? matched.homeProbName : matched.awayProbName;\n\n    if (favProbId && pitcherStats[favProbId]) {\n      favStarterWhip = pitcherStats[favProbId].whip;\n      topPitcherFlag = favStarterWhip <= WHIP_THRESHOLD;\n    }\n  }\n\n  const enriched = {};\n  const keys = Object.keys(g);\n  for (let k = 0; k < keys.length; k++) { enriched[keys[k]] = g[keys[k]]; }\n  enriched.fav_starter_name = favStarterName;\n  enriched.fav_starter_whip = favStarterWhip;\n  enriched.top_pitcher_flag = topPitcherFlag;\n\n  output.push({ json: enriched });\n}\n\nreturn output;"
      },
      "id": "enrich-pitchers",
      "name": "Enrich with Pitcher Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -60],
      "notes": "Calls MLB Stats API (free) to fetch today's probable pitchers and season WHIP. Adds top_pitcher_flag=true when favorite's starter WHIP <= 1.10 (min 25 IP)."
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "list", "value": "" },
        "sheetName": { "__rl": true, "mode": "list", "value": "" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "game_id": "={{ $json.game_id }}",
            "commence_time": "={{ $json.commence_time }}",
            "home_team": "={{ $json.home_team }}",
            "away_team": "={{ $json.away_team }}",
            "favorite": "={{ $json.favorite }}",
            "underdog": "={{ $json.underdog }}",
            "dog_odds_best": "={{ $json.dog_odds_best }}",
            "dog_odds_avg": "={{ $json.dog_odds_avg }}",
            "dog_best_book": "={{ $json.dog_best_book }}",
            "fav_odds_best": "={{ $json.fav_odds_best }}",
            "fav_odds_avg": "={{ $json.fav_odds_avg }}",
            "home_is_dog": "={{ $json.home_is_dog }}",
            "bucket": "={{ $json.bucket }}",
            "num_books": "={{ $json.num_books }}",
            "fav_starter_name": "={{ $json.fav_starter_name }}",
            "fav_starter_whip": "={{ $json.fav_starter_whip }}",
            "top_pitcher_flag": "={{ $json.top_pitcher_flag }}",
            "winner": "",
            "dog_won": "",
            "profit": ""
          }
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Append to Tracking Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, -60],
      "notes": "SETUP: Select your Google Sheet and 'Tracking' sheet tab. Includes fav_starter_name, fav_starter_whip, top_pitcher_flag columns — add these to your sheet header row."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst stats = items[0].json._stats || {};\nconst today = new Date().toISOString().split('T')[0];\n\nconst wagerItems = items.filter(function(i) { return !i.json._is_track_only; });\nconst watchItems  = items.filter(function(i) { return  i.json._is_track_only; });\nconst flaggedItems = items.filter(function(i) { return i.json.top_pitcher_flag === true; });\n\nlet msg = '⚾ *MLB Underdog Report — ' + today + '*\\n\\n';\nmsg += '📊 *Filter Results:*\\n';\nmsg += 'Games today: ' + (stats.total || '?') + '\\n';\nmsg += 'Toss-ups: ' + (stats.tossup || 0) + ' | Extreme: ' + (stats.extreme || 0) + ' | Out of range: ' + (stats.out_of_range || 0) + '\\n\\n';\n\nif (wagerItems.length > 0) {\n  msg += '✅ *' + wagerItems.length + ' Qualifying Underdogs — WAGER:*\\n\\n';\n  for (let i = 0; i < wagerItems.length; i++) {\n    const g = wagerItems[i].json;\n    const homeAway = g.home_is_dog ? '(Home)' : '(Away)';\n    const pitcherNote = g.top_pitcher_flag === true\n      ? ' ⚠️ Top pitcher: ' + (g.fav_starter_name || '?') + ' (' + (g.fav_starter_whip || '?') + ' WHIP)'\n      : (g.fav_starter_name ? ' | Starter: ' + g.fav_starter_name : '');\n    msg += '🔹 *' + g.underdog + '* ' + homeAway + ' +' + g.dog_odds_best + '\\n';\n    msg += '   vs ' + g.favorite + ' (' + g.fav_odds_best + ')\\n';\n    msg += '   Bucket: ' + g.bucket + ' | Best book: ' + g.dog_best_book + '\\n';\n    if (pitcherNote) msg += '   ' + pitcherNote + '\\n';\n    msg += '\\n';\n  }\n} else {\n  msg += 'No wager-eligible underdogs today.\\n\\n';\n}\n\nif (watchItems.length > 0) {\n  msg += '👁 *' + watchItems.length + ' Watch-Only — track, do not wager:*\\n';\n  for (let i = 0; i < watchItems.length; i++) {\n    const g = watchItems[i].json;\n    msg += '   ' + g.underdog + ' +' + g.dog_odds_best + ' vs ' + g.favorite + ' | ' + g.bucket + '\\n';\n  }\n  msg += '\\n';\n}\n\nif (flaggedItems.length > 0) {\n  msg += '🚩 *' + flaggedItems.length + ' game(s) facing a top pitcher (WHIP ≤ 1.10) — wager with caution*\\n';\n}\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "build-telegram-msg",
      "name": "Build Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -60]
    },
    {
      "parameters": {
        "jsCode": "const stats = $input.first().json._stats || {};\nconst today = new Date().toISOString().split('T')[0];\n\nlet msg = '⚾ *MLB Underdog Report — ' + today + '*\\n\\n';\nmsg += 'No qualifying underdogs today.\\n\\n';\nmsg += '📊 ' + (stats.total || '?') + ' games checked:\\n';\nmsg += 'Toss-ups: ' + (stats.tossup || 0) + ' | Extreme: ' + (stats.extreme || 0) + ' | Out of range: ' + (stats.out_of_range || 0);\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "build-no-games-msg",
      "name": "No Games Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 140]
    },
    {
      "parameters": {
        "chatId": "",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notify",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, 0],
      "notes": "SETUP: Configure Telegram Bot credentials and set chatId"
    }
  ],
  "connections": {
    "Daily 12:07 PM ET": {
      "main": [[{ "node": "Fetch MLB Odds", "type": "main", "index": 0 }]]
    },
    "Fetch MLB Odds": {
      "main": [[{ "node": "Filter Underdogs", "type": "main", "index": 0 }]]
    },
    "Filter Underdogs": {
      "main": [[{ "node": "Has Qualifying Games?", "type": "main", "index": 0 }]]
    },
    "Has Qualifying Games?": {
      "main": [
        [{ "node": "Enrich with Pitcher Flag", "type": "main", "index": 0 }],
        [{ "node": "No Games Message", "type": "main", "index": 0 }]
      ]
    },
    "Enrich with Pitcher Flag": {
      "main": [[{ "node": "Append to Tracking Sheet", "type": "main", "index": 0 }]]
    },
    "Append to Tracking Sheet": {
      "main": [[{ "node": "Build Telegram Message", "type": "main", "index": 0 }]]
    },
    "Build Telegram Message": {
      "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]]
    },
    "No Games Message": {
      "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "tags": [{ "name": "MLB Underdogs" }]
}
